.container{
    background: #FFFFFF;
/* 1 */

box-shadow: 0px 16px 32px rgba(0, 97, 211, 0.07);
border-radius: 16px;
}
.prize{
    color: #3E89E2;
    font-size: 3rem;
    margin-left: 2vw;
}
.details{
    font-family: Lato;
font-weight: 500;
font-size: 20px;
line-height: 125%;
color: #022B3A;
}
.para{
    font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 100%;

/* Text/Text 1 - Headings */

color: #022B3A;
}
.about{
    font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.235em;
text-transform: uppercase;

/* Text/Text 1 - Headings */

color: #022B3A;
}
.aboutpara{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 190%;
/* or 34px */

text-align: justify;

/* Text/Text 3 - Para 2 */

color: #6F708B;
}
.bio{
    color: rgb(241, 149, 68);
    cursor: pointer;
}
.btn{
    background: #FFFFFF;
    /* 1 */
    box-shadow: 0px 16px 32px rgba(0, 97, 211, 0.07);   
text-transform: capitalize;
border: 1px solid #3E89E2;
box-sizing: border-box;
border-radius: 3px;

padding: 10px;

color: #3E89E2;
}
.title{
    font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.235em;
text-transform: uppercase;

/* Text/Text 2 - Para 1 */

color: #454560;
}
.video{
    cursor: pointer;
}
.videotitle{
    font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 150%;
text-align: center;
margin-top: 10px;
/* identical to box height, or 27px */

text-transform: capitalize;

/* Text/Text 2 - Para 1 */

color: #454560;
}