.customContainer {
  text-align: center;
  justify-content: center;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 97, 211, 0.07);
  border-radius: 16px;
  padding: 20px;
}

.PlayerName {
  width: 100%;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 99%;
  text-align: center;
  text-transform: uppercase;
  color: #022b3a;
}
.PlayerDetails {
  width: 100%;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 12.8555px;
  line-height: 22px;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  text-align: center;
  color: #6f708b;
}
.text {
  width: 267px;
  height: 22px;
  left: 241px;
  top: 355.28px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14.8555px;
  line-height: 151%;
  color: #454560;
}
.img{
  width: 155.98px;
  height: 41.78px;
}

.Box {
  padding: 15px 1px 1px 9px;
  border: 0.810811px solid #3e89e2;
  box-sizing: border-box;
  border-radius: 8px;
}
.text-primary {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12.1622px;
  line-height: 125%;
  /* or 15px */

  color: #3e8ae4;
}
h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 100%;
  color: #454560;
}
.follow {
  text-align: center;
  color: #ffffff;
  background: #3e89e2;
  border-radius: 7.42774px;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16.7124px;
}
.comparePlayer {
  color: #3e89e2;
  background: #ffffff;
  border: 1.40218px solid #3e89e2;
  box-shadow: 0px 16px 32px rgba(0, 97, 211, 0.07);
  border-radius: 16px;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16.7124px;
}
@media only screen and (max-width:720px) {
  .customContainer{
    padding: 0px;
    border-radius: 0;
    width: 100%;
  }
  .PlayerDetails{
    font-size: 10px;
  }
  .PlayerName{
    font-size: 25px;
  }
  .text{
    display: none;
  }
  .comparePlayer{
  font-size: 10px;
  font-weight: 800;
  }
  .text2{
font-size: 10px;
  }
}